
/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*box dışına çıkartmıyor*/
}
body{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #000;
    color: #fff;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

